# {{ ansible_managed }}

define hostgroup {
	hostgroup_name dbservers
        alias Database Based Services
}

{% for host in groups['mysql'] %}
define host {
	use                     generic-host
	host_name               {{ hostvars[host].ansible_hostname }} 
	alias                   {{ hostvars[host].ansible_hostname }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		dbservers
}
{% endfor %}
