# {{ ansible_managed }}

define hostgroup {
	hostgroup_name loadbalancers
        alias Load Balancers 
}

{% for host in groups['radosgw-lb'] + groups['dri_app-lb'] %}
define host {
	use                     generic-host
	host_name               {{ host }} 
	alias                   {{ host }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 	        loadbalancers	
}
define service {
	use				generic-service
	host_name			{{ host }}	
	service_description		HAProxy Load Balancer 
	check_command			check_http!-p80
}
{% endfor %}
