# {{ ansible_managed }}

define hostgroup {
	hostgroup_name replicated_ldapservers
        alias LDAP (replicated)
}

{% for host in groups['ldap_replicated'] %}
define host {
	use                     generic-host
	host_name               {{ hostvars[host].ansible_hostname }} 
	alias                   {{ hostvars[host].ansible_hostname }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		replicated_ldapservers
}
{% endfor %}
