# {{ ansible_managed }}

define hostgroup {
	hostgroup_name monitoring
        alias Monitoring host (localhost)
}

{% for host in groups['monitoring'] %}
define host {
	use                     generic-host
	host_name               {{ hostvars[host].ansible_hostname }} 
	alias                   {{ hostvars[host].ansible_hostname }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		monitoring
}
{% endfor %}
