# {{ ansible_managed }}

define hostgroup {
	hostgroup_name radosgws
        alias Rados Gateway
}

{% for host in groups['radosgw'] %}
define host {
	use                     generic-host
	host_name               {{ hostvars[host].ansible_hostname }} 
	alias                   {{ hostvars[host].ansible_hostname }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		radosgws
}
{% endfor %}

# service checks to be applied to the web server
define service {
	use				generic-service
	hostgroup_name			radosgws
	service_description	        radosgw 
	check_command			check_http
	notifications_enabled		0
}
