# {{ ansible_managed }}

define hostgroup {
	hostgroup_name solr
        alias SOLR Services
}

{% for host in groups['solr'] %}
define host {
	use                     generic-host
	host_name               {{ hostvars[host].ansible_hostname }} 
	alias                   {{ hostvars[host].ansible_hostname }}
	address                 {{ hostvars[host].ansible_default_ipv4.address }}
	hostgroups 		solr
}
{% endfor %}

# service checks to be applied to the web server
define service {
	use				generic-service
	hostgroup_name			solr
	service_description	        SOLR Services
	check_command			check_http!-p8080
	notifications_enabled		0
}
