#Install Options
#Thu Jan 31 15:11:41 UTC 2013
ri.enabled=false
messaging.enabled=false
apia.auth.required=false
database.jdbcDriverClass=org.apache.derby.jdbc.EmbeddedDriver
upstream.auth.enabled=false
ssl.available=true
database.jdbcURL=jdbc\:derby\:/opt/fedora/derby/fedora3;create\=true
database.password={{ fedora_db_pass }}
database.username={{ fedora_db_user }}
fesl.authz.enabled=false
deploy.local.services=true
xacml.enabled=true
database=included
database.driver=included
fedora.serverContext=fedora
llstore.type=akubra-fs
fedora.home=/opt/fedora
install.type=custom
servlet.engine=other
apim.ssl.required=true
fedora.admin.pass={{ fedora_admin_pass }}
apia.ssl.required=false
fedora.serverHost={{ hostvars[groups['fedora'][0]]['ansible_fqdn'] }}
