[global]
default-timeout = 60
proxy = proxy.tchpc.tcd.ie:8080
#respect-virtualenv = true
#download-cache = ~/.pip/cache
log-file = /tmp/pip.log
build = /tmp/pip/build

[install]
use-mirrors = true
ignore-installed = true
no-dependencies = yes
mirrors =
    http://pypi.python.org

