#Install Options
#Thu Jan 31 15:11:41 UTC 2013
ri.enabled=false
messaging.enabled=false
apia.auth.required=false
database.jdbcDriverClass=org.apache.derby.jdbc.EmbeddedDriver
upstream.auth.enabled=false
ssl.available=true
database.jdbcURL=jdbc\:derby\:/opt/fedora/derby/fedora3;create\=true
database.password=fedoraAdmin
database.username=fedoraAdmin
fesl.authz.enabled=false
deploy.local.services=true
xacml.enabled=true
fedora.serverHost=localhost
database=included
database.driver=included
fedora.serverContext=fedora
llstore.type=akubra-fs
fedora.home=/opt/fedora
install.type=custom
servlet.engine=other
apim.ssl.required=true
fedora.admin.pass=fedoraAdmin
apia.ssl.required=false
