# admin head should be done according to this...
# http://www.modrails.com/documentation/Users%20guide%20Apache.html#deploying_rack_to_sub_uri
# or potentially be pulled in as a rails engine
#NameVirtualHost 10.0.1.200:80
<VirtualHost *:80>
   ServerName {{ sp_external_endpoint }}
#   # !!! Be sure to point DocumentRoot to 'public'!
   DocumentRoot /var/www

##   #RailsBaseURI /repository
##    <Directory /var/www/repository>
##    #<Directory /home/{{rvm_user}}/{{ host_group }}-public>
##       # This relaxes Apache security settings.
##       #AllowOverride all
##       # MultiViews must be turned off.
##       Options -MultiViews
##       #SetEnv RAILS_ENV development
##       SetEnv DRI_BUNDLE_ENV tchpc
##       PassengerAppRoot /home/{{rvm_user}}/{{ host_group }}-public
##    </Directory>

##   #RailsBaseURI /admin
##    <Directory /var/www/admin>
##    #<Directory /home/{{rvm_user}}/{{ host_group }}>
##       # This relaxes Apache security settings.
##       #AllowOverride all
##       # MultiViews must be turned off.
##       Options -MultiViews
##       #SetEnv RAILS_ENV development
##       SetEnv DRI_BUNDLE_ENV tchpc
##       PassengerAppRoot /home/{{rvm_user}}/{{ host_group }}
##    </Directory>

   <Directory /var/www/00D9DB5F-0CC1-4AE1-B014-968AFA0371AC>
   #<Directory /home/{{rvm_user}}/{{ host_group }}>
      # This relaxes Apache security settings.
      #AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
      #SetEnv RAILS_ENV development
      SetEnv DRI_BUNDLE_ENV tchpc
      PassengerAppRoot /home/{{rvm_user}}/{{ host_group }}
      #RackBaseURI /00D9DB5F-0CC1-4AE1-B014-968AFA0371AC
   </Directory>

   <Location /00D9DB5F-0CC1-4AE1-B014-968AFA0371AC/users/auth/shibboleth/callback>
        AuthType shibboleth
        ShibRequestSetting requireSession 1
        require valid-user
   </Location>

</VirtualHost>
