# admin head should be done according to this...
# http://www.modrails.com/documentation/Users%20guide%20Apache.html#deploying_rack_to_sub_uri
# or potentially be pulled in as a rails engine
#NameVirtualHost 10.0.1.200:80
<VirtualHost *:80>
   ServerName {{ ansible_fqdn }}
#   # !!! Be sure to point DocumentRoot to 'public'!
   DocumentRoot /var/www/html

   RailsBaseURI /repository
   <Directory /var/www/html/repository>
   #<Directory /home/{{rvm_user}}/{{ host_group }}-public>
      # This relaxes Apache security settings.
      #AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
      #SetEnv RAILS_ENV development
   </Directory>

   RailsBaseURI /admin
   <Directory /var/www/html/admin>
   #<Directory /home/{{rvm_user}}/{{ host_group }}>
      # This relaxes Apache security settings.
      #AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
      #SetEnv RAILS_ENV development
   </Directory>


</VirtualHost>
