[program:resque_worker]
command=/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}@global/bin/bundle exec rake resque:work
directory=/home/{{rvm_user}}/{{ host_group }}
redirect_stderr=true
user={{rvm_user}}
environment=HOME="/home/{{rvm_user}}",USER="{{rvm_user}}",https_proxy="http://{{proxy_server}}:{{proxy_port}}",http_proxy="http://{{proxy_server}}:{{proxy_port}}",GEM_HOME="/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}",GEM_PATH="/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}:/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}@global",RAILS_ENV=production,QUEUE="audio,characterize,create_bucket,create_checksums,index_text,ingest_files_from_metadata,ingest_job_queue,pdf,thumbnail,update_index,video",RESQUE_NAMESPACE="dri:production",PATH="/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}/bin:/home/{{rvm_user}}/.rvm/gems/ruby-{{ruby_version}}@global/bin:/home/{{rvm_user}}/.rvm/rubies/ruby-{{ruby_version}}/bin:/home/{{rvm_user}}/.rvm/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games",COUNT="2"
