<?xml version="1.0" encoding="UTF-8" ?>
<Context docBase="/opt/solr/solr.war" debug="1" crossContext="true" >
   <Environment name="solr/home" type="java.lang.String" value="/opt/solr/production" override="true" />
</Context>
